USE [master]
GO
/****** Object:  Database [ZenTaskDB]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE DATABASE [ZenTaskDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZenTaskDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ZenTaskDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZenTaskDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ZenTaskDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZenTaskDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZenTaskDB]
GO
/****** Object:  Table [dbo].[activity_log]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[details] [nvarchar](max) NULL,
	[target_entity] [varchar](255) NOT NULL,
	[target_id] [bigint] NULL,
	[user_id] [bigint] NOT NULL,
	[workspace_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[workspace_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[action] [nvarchar](255) NOT NULL,
	[target_entity] [nvarchar](255) NOT NULL,
	[target_id] [bigint] NULL,
	[details] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[task_id] [bigint] NOT NULL,
	[file_url] [nvarchar](max) NOT NULL,
	[file_name] [nvarchar](255) NULL,
	[uploaded_by] [bigint] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Board]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[workspace_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[task_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[column_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[priority] [nvarchar](20) NULL,
	[deadline] [datetime2](7) NULL,
	[assignee_id] [bigint] NULL,
	[position_index] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_attachment]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_attachment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[file_name] [varchar](255) NOT NULL,
	[file_path] [varchar](255) NOT NULL,
	[file_size] [bigint] NULL,
	[file_type] [varchar](255) NULL,
	[task_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_Column]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Column](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[board_id] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[position_index] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[is_done_column] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[avatar] [nvarchar](500) NULL,
	[provider] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workspace]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workspace](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[owner_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workspace_invitation]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workspace_invitation](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[email] [varchar](255) NOT NULL,
	[expiry_date] [datetime2](6) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[token] [varchar](255) NOT NULL,
	[workspace_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workspace_Members]    Script Date: 6/2/2026 12:15:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workspace_Members](
	[workspace_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[joined_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Workspace_Members] PRIMARY KEY CLUSTERED 
(
	[workspace_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Board] ON 

INSERT [dbo].[Board] ([id], [workspace_id], [title], [created_at], [updated_at]) VALUES (4, 1, N'Project', CAST(N'2026-06-01T19:53:45.3189976' AS DateTime2), CAST(N'2026-06-01T19:53:45.3189976' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Board] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([id], [task_id], [user_id], [content], [created_at]) VALUES (2, 6, 2, N'Ok Sếp!', CAST(N'2026-06-02T00:08:52.5338427' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([id], [column_id], [title], [description], [priority], [deadline], [assignee_id], [position_index], [created_at], [updated_at]) VALUES (5, 13, N'Làm chức năng đăng kí', NULL, N'MEDIUM', NULL, NULL, 0, CAST(N'2026-06-01T20:39:19.5494704' AS DateTime2), CAST(N'2026-06-01T23:07:44.1643835' AS DateTime2))
INSERT [dbo].[Task] ([id], [column_id], [title], [description], [priority], [deadline], [assignee_id], [position_index], [created_at], [updated_at]) VALUES (6, 12, N'Làm chức năng đăng nhập', N'Khá đơn giản về chức năng này nên cố gắng nhé!', N'HIGH', CAST(N'2026-07-09T00:00:00.0000000' AS DateTime2), 2, 0, CAST(N'2026-06-01T21:21:13.3558982' AS DateTime2), CAST(N'2026-06-02T00:08:16.1881649' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[task_attachment] ON 

INSERT [dbo].[task_attachment] ([id], [created_at], [file_name], [file_path], [file_size], [file_type], [task_id]) VALUES (10, CAST(N'2026-06-01T23:56:43.4910360' AS DateTime2), N'FuctionName.txt', N'51d8dd60-7e37-4c66-9ef2-c48c4b7ffd20.txt', 1362, N'text/plain', 6)
SET IDENTITY_INSERT [dbo].[task_attachment] OFF
GO
SET IDENTITY_INSERT [dbo].[Task_Column] ON 

INSERT [dbo].[Task_Column] ([id], [board_id], [name], [position_index], [created_at], [updated_at], [is_done_column]) VALUES (12, 4, N'TODO', 0, CAST(N'2026-06-01T19:53:50.2536846' AS DateTime2), CAST(N'2026-06-01T19:53:50.2536846' AS DateTime2), 0)
INSERT [dbo].[Task_Column] ([id], [board_id], [name], [position_index], [created_at], [updated_at], [is_done_column]) VALUES (13, 4, N'DONE', 1, CAST(N'2026-06-01T19:53:54.7809957' AS DateTime2), CAST(N'2026-06-01T19:54:15.8869357' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Task_Column] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [email], [password], [full_name], [avatar], [provider], [created_at], [updated_at]) VALUES (1, N'tranthephong208@gmail.com', N'$2a$10$0dxXu.L53FAPWG2DD6qsXOb6JXR.i4MXYcX3A4dTs9XJGLsxIrqBC', N'Trần Thế Phong', NULL, N'local', CAST(N'2026-05-28T13:40:00.8433834' AS DateTime2), CAST(N'2026-05-28T13:40:00.8433834' AS DateTime2))
INSERT [dbo].[Users] ([id], [email], [password], [full_name], [avatar], [provider], [created_at], [updated_at]) VALUES (2, N'phongan200525@gmail.com', N'$2a$10$A03MqHZZsMYV.ky2JPmoHem8MO/w9Zho/5Puu1zfW04psrZ.UKxJq', N'Nguyễn Thị Tố An', NULL, N'local', CAST(N'2026-05-28T16:53:39.7816376' AS DateTime2), CAST(N'2026-06-02T00:10:06.6463028' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Workspace] ON 

INSERT [dbo].[Workspace] ([id], [name], [description], [owner_id], [created_at], [updated_at]) VALUES (1, N'OJT', NULL, 1, CAST(N'2026-05-28T13:41:32.3392618' AS DateTime2), CAST(N'2026-05-28T13:41:32.3392618' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Workspace] OFF
GO
SET IDENTITY_INSERT [dbo].[workspace_invitation] ON 

INSERT [dbo].[workspace_invitation] ([id], [created_at], [email], [expiry_date], [status], [token], [workspace_id]) VALUES (3, CAST(N'2026-05-29T01:32:31.2844770' AS DateTime2), N'phongan200525@gmail.com', CAST(N'2026-05-30T01:32:31.2814690' AS DateTime2), N'ACCEPTED', N'4868ddff-a0e7-4cbe-ae4e-9aea28f17a83', 1)
SET IDENTITY_INSERT [dbo].[workspace_invitation] OFF
GO
INSERT [dbo].[Workspace_Members] ([workspace_id], [user_id], [role], [joined_at]) VALUES (1, 1, N'ADMIN', CAST(N'2026-05-28T13:41:32.3713555' AS DateTime2))
INSERT [dbo].[Workspace_Members] ([workspace_id], [user_id], [role], [joined_at]) VALUES (1, 2, N'MEMBER', CAST(N'2026-05-29T01:32:49.9253201' AS DateTime2))
GO
/****** Object:  Index [IX_AL_CreatedAt]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_AL_CreatedAt] ON [dbo].[ActivityLog]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AL_User]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_AL_User] ON [dbo].[ActivityLog]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AL_Workspace]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_AL_Workspace] ON [dbo].[ActivityLog]
(
	[workspace_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attachment_Task]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Attachment_Task] ON [dbo].[Attachment]
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Board_Workspace]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Board_Workspace] ON [dbo].[Board]
(
	[workspace_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_Task]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Comment_Task] ON [dbo].[Comment]
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_User]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Comment_User] ON [dbo].[Comment]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Task_Assignee]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Task_Assignee] ON [dbo].[Task]
(
	[assignee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Task_Column]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Task_Column] ON [dbo].[Task]
(
	[column_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Task_Deadline]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Task_Deadline] ON [dbo].[Task]
(
	[deadline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Task_Priority]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Task_Priority] ON [dbo].[Task]
(
	[priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TC_Board]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_TC_Board] ON [dbo].[Task_Column]
(
	[board_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_6dotkott2kjsp8vw4d0m25fb7]    Script Date: 6/2/2026 12:15:40 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UK_6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 6/2/2026 12:15:40 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Workspace_Owner]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_Workspace_Owner] ON [dbo].[Workspace]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_fp6rdexvevekg1y23c4i62e54]    Script Date: 6/2/2026 12:15:40 AM ******/
ALTER TABLE [dbo].[workspace_invitation] ADD  CONSTRAINT [UK_fp6rdexvevekg1y23c4i62e54] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WM_UserId]    Script Date: 6/2/2026 12:15:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_WM_UserId] ON [dbo].[Workspace_Members]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Attachment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Board] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Board] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT ('MEDIUM') FOR [priority]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT ((0)) FOR [position_index]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Task_Column] ADD  DEFAULT ((0)) FOR [position_index]
GO
ALTER TABLE [dbo].[Task_Column] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Task_Column] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Task_Column] ADD  DEFAULT ((0)) FOR [is_done_column]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('local') FOR [provider]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Workspace] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Workspace] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Workspace_Members] ADD  DEFAULT ('MEMBER') FOR [role]
GO
ALTER TABLE [dbo].[Workspace_Members] ADD  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD  CONSTRAINT [FK3l5ffxwv5gy8pncfpckf1t135] FOREIGN KEY([workspace_id])
REFERENCES [dbo].[Workspace] ([id])
GO
ALTER TABLE [dbo].[activity_log] CHECK CONSTRAINT [FK3l5ffxwv5gy8pncfpckf1t135]
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD  CONSTRAINT [FK634sb3dvk7nyxjcjcem7m282a] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[activity_log] CHECK CONSTRAINT [FK634sb3dvk7nyxjcjcem7m282a]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD  CONSTRAINT [FK_AL_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivityLog] CHECK CONSTRAINT [FK_AL_User]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD  CONSTRAINT [FK_AL_Workspace] FOREIGN KEY([workspace_id])
REFERENCES [dbo].[Workspace] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActivityLog] CHECK CONSTRAINT [FK_AL_Workspace]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_Task] FOREIGN KEY([task_id])
REFERENCES [dbo].[Task] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_Task]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_User] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_User]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FKa8c24dxad2utn3021054iqpo9] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FKa8c24dxad2utn3021054iqpo9]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FKliwb3s1jmhbcrq2upsyo2cftn] FOREIGN KEY([task_id])
REFERENCES [dbo].[Task] ([id])
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FKliwb3s1jmhbcrq2upsyo2cftn]
GO
ALTER TABLE [dbo].[Board]  WITH CHECK ADD  CONSTRAINT [FK_Board_Workspace] FOREIGN KEY([workspace_id])
REFERENCES [dbo].[Workspace] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Board] CHECK CONSTRAINT [FK_Board_Workspace]
GO
ALTER TABLE [dbo].[Board]  WITH CHECK ADD  CONSTRAINT [FKh8r4ryxrng25r7ko3yh5eaudu] FOREIGN KEY([workspace_id])
REFERENCES [dbo].[Workspace] ([id])
GO
ALTER TABLE [dbo].[Board] CHECK CONSTRAINT [FKh8r4ryxrng25r7ko3yh5eaudu]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Task] FOREIGN KEY([task_id])
REFERENCES [dbo].[Task] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Task]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FKfknte4fhjhet3l1802m1yqa50] FOREIGN KEY([task_id])
REFERENCES [dbo].[Task] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FKfknte4fhjhet3l1802m1yqa50]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FKqm52p1v3o13hy268he0wcngr5] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FKqm52p1v3o13hy268he0wcngr5]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Assignee] FOREIGN KEY([assignee_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Assignee]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Column] FOREIGN KEY([column_id])
REFERENCES [dbo].[Task_Column] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Column]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK3m9erakxbdye12oo6iokua8kv] FOREIGN KEY([assignee_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK3m9erakxbdye12oo6iokua8kv]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FKe4pm3jvus80t2x1h6a39xqfls] FOREIGN KEY([column_id])
REFERENCES [dbo].[Task_Column] ([id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FKe4pm3jvus80t2x1h6a39xqfls]
GO
ALTER TABLE [dbo].[task_attachment]  WITH CHECK ADD  CONSTRAINT [FKkhw6fprv9kv6uio43mem40px6] FOREIGN KEY([task_id])
REFERENCES [dbo].[Task] ([id])
GO
ALTER TABLE [dbo].[task_attachment] CHECK CONSTRAINT [FKkhw6fprv9kv6uio43mem40px6]
GO
ALTER TABLE [dbo].[Task_Column]  WITH CHECK ADD  CONSTRAINT [FK_TC_Board] FOREIGN KEY([board_id])
REFERENCES [dbo].[Board] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task_Column] CHECK CONSTRAINT [FK_TC_Board]
GO
ALTER TABLE [dbo].[Task_Column]  WITH CHECK ADD  CONSTRAINT [FKf47dbfjt9k9llcks65qknbusi] FOREIGN KEY([board_id])
REFERENCES [dbo].[Board] ([id])
GO
ALTER TABLE [dbo].[Task_Column] CHECK CONSTRAINT [FKf47dbfjt9k9llcks65qknbusi]
GO
ALTER TABLE [dbo].[Workspace]  WITH CHECK ADD  CONSTRAINT [FK_Workspace_Owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Workspace] CHECK CONSTRAINT [FK_Workspace_Owner]
GO
ALTER TABLE [dbo].[Workspace]  WITH CHECK ADD  CONSTRAINT [FKcpfj2f5eladpgqpi8ards9j55] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Workspace] CHECK CONSTRAINT [FKcpfj2f5eladpgqpi8ards9j55]
GO
ALTER TABLE [dbo].[workspace_invitation]  WITH CHECK ADD  CONSTRAINT [FKmqjx2gtti3uaa60n8msuicmyr] FOREIGN KEY([workspace_id])
REFERENCES [dbo].[Workspace] ([id])
GO
ALTER TABLE [dbo].[workspace_invitation] CHECK CONSTRAINT [FKmqjx2gtti3uaa60n8msuicmyr]
GO
ALTER TABLE [dbo].[Workspace_Members]  WITH CHECK ADD  CONSTRAINT [FK_WM_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Workspace_Members] CHECK CONSTRAINT [FK_WM_User]
GO
ALTER TABLE [dbo].[Workspace_Members]  WITH CHECK ADD  CONSTRAINT [FK_WM_Workspace] FOREIGN KEY([workspace_id])
REFERENCES [dbo].[Workspace] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Workspace_Members] CHECK CONSTRAINT [FK_WM_Workspace]
GO
ALTER TABLE [dbo].[Workspace_Members]  WITH CHECK ADD  CONSTRAINT [FK6vtnpc3eexk504u61uepn40p1] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Workspace_Members] CHECK CONSTRAINT [FK6vtnpc3eexk504u61uepn40p1]
GO
ALTER TABLE [dbo].[Workspace_Members]  WITH CHECK ADD  CONSTRAINT [FKovw79rsy55e37pbox9wf7x7if] FOREIGN KEY([workspace_id])
REFERENCES [dbo].[Workspace] ([id])
GO
ALTER TABLE [dbo].[Workspace_Members] CHECK CONSTRAINT [FKovw79rsy55e37pbox9wf7x7if]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [CK_Task_Priority] CHECK  (([priority]='CRITICAL' OR [priority]='HIGH' OR [priority]='MEDIUM' OR [priority]='LOW'))
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [CK_Task_Priority]
GO
ALTER TABLE [dbo].[workspace_invitation]  WITH CHECK ADD CHECK  (([status]='EXPIRED' OR [status]='ACCEPTED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[Workspace_Members]  WITH CHECK ADD  CONSTRAINT [CK_WM_Role] CHECK  (([role]='MEMBER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[Workspace_Members] CHECK CONSTRAINT [CK_WM_Role]
GO
USE [master]
GO
